
header .flex{
    background-color: #FF6900;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
   
    
    
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    
    
}

.menu ul {
    display: flex;
    column-gap: 10px;
    
    
    


}
.menu a{
   
    color: white;
}

.logo{
    box-sizing: content-box;
    
}

.icon{
    height: 10px;
    width: 20px;
    fill: white;
}

.container-icon{
    display: flex;
    column-gap: 10px;
}



.container-img{
    display: flex;
    /*background-color: blueviolet;*/
    justify-content: center;
    margin-top: 5%;
    height: 600px;
    width: 100%;
    column-gap: 50px;
   
    }



.box1{
    display: flex;
    width:calc(70%/3);
    /*background-color: red;*/
    background-image: url(../img/1.webp);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
       
}
.box2{
    /*height: 400px;*/
    width:calc(70%/3);
    /*background-color: red;*/
    background-image: url(../img/2.webp); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.box3{
    /*height: 400px;*/
    width:calc(70%/3);
    /*background-color: red;*/
    background-image: url(../img/3.webp);  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.p1-red{
position:relative;
top: 90%;
height: 20px;
width: 40px;
background-color: red;
color: white;
}

.p1-green{
position:relative;
top: 90%;
height: 20px;
width: 80px;
background-color: green;
color: white;

}
.min{
    position: absolute;
    bottom: -5%;

}

.strong-p{
    position: absolute;
    bottom: -10%;

}

.price-red{
    position: absolute;
    bottom: -15%;
    color: red;

}
.price-line{
    position: absolute;
    bottom: -15%;
    margin-bottom: 3px;
    color: black;


}

.container-img1{
    display: flex;
    /*background-color: blueviolet;*/
    justify-content: center;
    margin-top: 10%;
    height: 600px;
    width: 100%;
    column-gap: 50px;
   
    }
.box4{
    display: flex;
    /*height: 400px;*/
    width:calc(70%/3);
    /*background-color: red;*/
    background-image: url(../img/4.webp);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
       
}
.box5{
    /*height: 400px;*/
    width:calc(70%/3);
    /*background-color: red;*/
    background-image: url(../img/5.webp); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.box6{
    /*height: 400px;*/
    width:calc(70%/3);
    /*background-color: red;*/
    background-image: url(../img/6.webp);  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.icon1{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px;
    background-color: white;
    background-size: contain;
    cursor: grab;
    /*z-index: 1;*/
   
}

.icon1:hover{
    fill: red;
}

footer{
    background-color:#1A1A1A ;
    height: 100px;
    width: 100%;
    margin-top: 7%;
} 

.info1{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
}
.dim-big-white{
    font-size: 18px;
    
}
 .info2{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    background-size: contain;
    
   
    
}

.footer-icon{
    display: flex;
    background-color: white;
    background-size: contain;
    column-gap: 10px;
    margin-right: 80px;
    height: 20px;
    column-gap: 10px;
    

}
.dim-big{
    font-size: 16px;
}
.icons{
    height: 10px;
    width: 20px;
    fill: black;
    
    background-size: cover;
   
    
}
